<div class="content p-4" role="main">

  <button class="btn btn-primary" (click)="addCommand()">Créer une commande</button>

  <div class="d-flex justify-content-between">
    <app-command *ngFor="let command of commands" class="w-25 d-block ml-3"></app-command>
  </div>
</div>
