<div class="command card">
  <div class="card-header d-flex justify-content-between">
    <div class="card-title">Commande X</div>
  </div>
  <div *ngFor="let coffee of getCoffees()" class="card-body mb-3">
    <div class="card-header">
      {{ coffee.getDescription() }} - {{ coffee.getPrice() }} €
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item active">Ingrédients ({{ coffee.getIngredient().length }})</li>
        <li *ngFor="let ingredient of coffee.getIngredient()" class="list-group-item">
          {{ ingredient.getName() }} - {{ ingredient.getPrice() }} €
        </li>
        <li class="list-group-item">
          <button class="btn btn-primary"
                  [swal]="{ title: 'Quel ingredient ?', input: 'select', inputOptions: { 'milk': 'Lait', 'sugar': 'Sucre' } }"
                  (confirm)="coffee.addIngredient($event)">
            Ajouter un ingrédient
          </button>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      Sous-total: {{ coffee.totalPrice() }}
    </div>
  </div>

  <button class="btn btn-primary"
          [swal]="{ title: 'Quel café ?', input: 'select', inputOptions: { 'deca': 'Deca', 'arabica': 'Arabica' } }"
          (confirm)="addCoffee($event)">
    Ajouter un café
  </button>

  <div class="card-footer">
    Total: {{ totalPrice() }} €
  </div>
</div>

